.dropzone {border: 4px dashed #ccc}
.dropzone .dz-message .drop-file {font-size: 28px; color: #ccc; margin-bottom: 10px;}
.dropzone .dz-message .drop-or {margin:5px auto 10px; color: #ccc; display: block;}