/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    height: 100%;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #ddd;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: #333;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.panel-admin {
    background-color: #fff;
    border: 1px solid #f5f5f5;
}

.content .page-header h1,
.content .page-header .h1,
.content .page-header h2,
.content .page-header .h2,
.content .page-header h3,
.content .page-header .h3,
.content .page-header h4,
.content .page-header .h4,
.content .page-header h5,
.content .page-header .h5,
.content .page-header h6,
.content .page-header .h6 {margin: 0;}
.content .page-header small .btn-xs {margin-bottom: 7px;}
.content .page-header {border-bottom: 1px dashed #eee;}
.content hr {margin-top: 15px; margin-bottom: 15px;}
.content .alert {border: none; border-left-style: solid; border-left-width: 5px; border-radius: 0; padding: 10px 15px;}
.content .alert button.close {line-height: 20px;}
.content .table > thead > tr > th {border-bottom: 1px solid #ddd; background-color: #f5f5f5;}
.content .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td
{border-top: 1px solid #ddd;}
.content .table > thead > tr > th:first-child {border-left: 1px solid #ddd;}
.content .table > thead > tr > th:last-child {border-right: 1px solid #ddd;}

/*modal*/
.eff-modal {top: 20vh;}
.eff-modal .modal-header {border-bottom: none;}
.eff-modal .close {margin-right: 6px;}
.loading-indicator {text-align: center; margin: 5px 0;}

/*module*/
.medias .media hr{margin: 10px 0;}
.medias .media h5 span.label {margin-left: 5px;}
.medias .media .media-left {vertical-align: middle;}
.medias .media .media-left .media-object {width: 50px; overflow: hidden;}

/*form-control*/
.form-control {border-radius: 0; height: 40px; transition: none; box-shadow: none; -webkit-transition: none; -webkit-box-shadow: none;}
.form-control.input-sm {height: 30px;}

/*radio list*/
.radio-list label {display: block;}

/*panel*/
.panel {box-shadow:none; -webkit-box-shadow: none; border-radius: 0;}
.panel-post .panel-heading {border-bottom: none;}
.panel-post .panel-heading a {text-decoration: none; color: #333;}
.panel-post .panel-heading a span.glyphicon-menu-up {display: block; line-height: 18px;}
.panel-post .panel-heading a span.glyphicon-menu-down {display: none; line-height: 18px;}
.panel-post .panel-heading a.collapsed span.glyphicon-menu-up {display: none;}
.panel-post .panel-heading a.collapsed span.glyphicon-menu-down {display: block;}
.panel-post .panel-heading a.publish-status span{vertical-align: middle; line-height: 40px;}
.panel-post .panel-heading label.text-current-status {margin: 0; display: block;}
.panel-post .collapse.in, .panel-post .collapsing {border-top: 1px solid #ddd;}

/*font and text*/
.text-normal {font-weight: normal;}

/*post form*/
.panel-content {margin: 5px 10px 0;}
.panel-content .heading h4 {font-size: 26px; margin-top: 0;}
.post-form {}
.post-form .radio-save-status {margin-top: 0;}
.post-form .panel .panel-heading a.header-text {text-transform: uppercase;}
.post-form .media-group-buttons {margin-bottom: 5px; text-align: right;}
.post-form .featured-image-select {text-align: center}
.post-form .featured-image-select a.default-image {display: block; margin-bottom: 15px; }
.post-form .featured-image-select a:hover, .featured-image-select a:active {text-decoration: none;}
.post-form .featured-image-select a.default-image .glyphicon-picture { cursor: pointer; font-size: 46px; color: #ccc}
.post-form .featured-image-select img {width: 100%;}
.post-form .slug-buttons {margin-top: 10px;}
.post-form .slug-buttons .slug-editable p.raw-slug {max-width: 40%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; display: inline-block; margin: 0; vertical-align: middle;}
.post-form .slug-buttons .slug-editable p.raw-slug input{width: 100%;}
.post-form .slug-buttons .slug-editable .btn {margin-left: 2px;}
.post-form .schedule-date {width: 130px; display: inline-block;}
.post-form .schedule-time {width: 100px; display: inline-block;}

/* check box */
.checkbox input[type=checkbox]:checked + label:after {font-family: 'Glyphicons Halflings'; content: "\e013";}
.checkbox label:after {padding-left: 4px; padding-top: 2px; font-size: 9px;}
.grid-view .checkbox {margin: 0;}

/* tabs */
ul.nav-goog-tabs {border-bottom: 1px solid #e1e1e1;}
.nav-goog-tabs > li > a{border-radius: 0; color: #333; display: inline-block; padding: 0; margin: 10px 15px 0 15px; padding-bottom: 10px;}
.nav-goog-tabs > li > a:hover, .nav-goog-tabs > li > a:focus {background: none;}
.nav-goog-tabs > li.active > a, .nav-goog-tabs > li.active > a:hover, .nav-goog-tabs > li.active > a:focus {background: none; color: #333; border-bottom: 3px solid #337ab7; padding-bottom: 7px;}

/*file dropzone*/
.file-dropzone .dz-message{position:relative;top:0;left:0;height:100%;bottom:0;right:0;margin:0;padding:0}
.file-dropzone .dz-message .dz-inner-message{position:absolute;top:0;bottom:0;left:0;right:0;margin:auto 0;text-align:center;display:inline-block;vertical-align:middle;transform:translate(50%,50%)}
.file-dropzone .dz-message .dz-inner-message .centered{transform:translate(-50%,-50%)}

/*file media thumbnail*/
.file-wrapper-thumbs {margin: 0; padding: 0;}
.file-wrapper-thumbs .file-details {float: left; margin: 8px 8px; list-style: none; width:12.5%; border: 1px solid #ddd; background-color: #f5f5f5; position: relative;}
.file-wrapper-thumbs .file-details.active {box-shadow: 0 0 0 3px #e1e1e1; cursor: pointer;}
.file-wrapper-thumbs .file-details:hover, .file-wrapper-thumbs .file-details.selected {box-shadow: 0 0 0 3px #1e8cbe; cursor: pointer;}
.file-wrapper-thumbs .file-details .file-thumbnail {opacity: .80; width:100%; height: 100%; min-height: 100%; float: left; position: relative; overflow: hidden; margin: 0; padding: 0; }
.file-wrapper-thumbs .file-details.active .file-thumbnail, .file-wrapper-thumbs .file-details:hover .file-thumbnail, .file-wrapper-thumbs .file-details.selected .file-thumbnail {opacity: 1;}
.file-wrapper-thumbs .file-details .file-thumbnail:before{padding-top: 100%;content:'';display:block;}
.file-wrapper-thumbs .file-details .file-thumbnail .item {position: absolute; top: 0; left: 0; width: 100%; height: 100%; min-height: 100%;}
.file-wrapper-thumbs .file-details .file-thumbnail .centered {width: 100%; height: 100%; min-height: 100%; position: absolute; top: 0; left: 0; transform: translate(50%,50%)}
.file-wrapper-thumbs .file-details .file-thumbnail .centered img {height: 100%; position: absolute; top: 0; left: 0; transform: translate(-50%,-50%)}
.file-wrapper-thumbs .file-details .file-thumbnail .file {position: absolute; top: 0; left: 0; bottom: 0; right: 0;}
.file-wrapper-thumbs .file-details .file-thumbnail .file .file-name {position: absolute; bottom: 0; left: 0; right: 0; text-align: center; height: 25px; overflow: hidden; border-top: 1px solid #ddd; vertical-align: middle; line-height: 25px; background: #fff; text-overflow: ellipsis; white-space: nowrap; padding: 0 5px;}
.file-wrapper-thumbs .file-details .file-thumbnail .file .file-extension {position: absolute; top: 15px; bottom: 25px; right: 0; left: 0; text-align: center; font-size: 2em;}
.file-wrapper-thumbs .file-details .file-thumbnail .file .file-extension .glyphicon {display: block; font-size: 1.5em;}
.file-wrapper-thumbs .file-details .check-sign {display: none; position: absolute; font-size: 1.5em; top: -1px; right: -1px;}
.file-wrapper-thumbs .file-details.active .check-sign{background-color: #e1e1e1; padding: 3px; border: 1px solid #ddd; color: #777; }
.file-wrapper-thumbs .file-details.selected .check-sign{background-color: #1e8cbe; padding: 3px; border: 1px solid #1e8cbe; color: #fff; }
.file-wrapper-thumbs .file-details.active .check-sign, .file-wrapper-thumbs .file-details.selected .check-sign {display: block;}

/*files modal*/
.files-modal .modal-dialog {width: auto; position: fixed; top: 30px; left: 30px; right: 30px; bottom: 30px; height: auto; margin: 0; padding: 0;}
.files-modal .modal-dialog .modal-content {position: relative; height: 100%; width: 100%; margin: 0; padding: 0;}
.files-modal .modal-dialog .modal-content:before {padding-top: 100%;}
.files-modal .modal-dialog .modal-content .modal-header {position: absolute; top: 0; left: 0; width: 100%; height: 50px; background-color: #f5f5f5;}
.files-modal .modal-dialog .modal-content .modal-footer {position: absolute; bottom: 0; left: 0; right: 0; padding: 5px 15px; background-color: #f5f5f5;}
.files-modal .modal-dialog .modal-content .modal-body {position: absolute; margin: 0; padding: 0; top: 50px; bottom: 45px; left: 0; right: 0;}
.files-modal .modal-dialog .modal-content .modal-body:before {padding-top: 100%;}
.files-modal .modal-dialog .modal-content .modal-body .nav-goog-tabs {position: absolute; height: 41px; top: 0; bottom: 0; left: 0; right: 0; background-color: #f5f5f5;}
.files-modal .modal-dialog .modal-content .modal-body .tab-content {position: absolute; top: 41px; bottom: 0; left: 0; right: 0;}
.files-modal .modal-dialog .modal-content .modal-body .tab-content .tab-pane .file-dropzone-wrapper {margin: 15px; position: absolute; top: 0; bottom: 0; left: 0; right: 0;}
.files-modal .modal-dialog .modal-content .modal-body .tab-content .tab-pane .file-dropzone-wrapper .file-dropzone {overflow: scroll;position: absolute; top: 0; bottom: 0; left: 0; right: 0;}
.files-modal .modal-dialog .modal-content .modal-body .tab-content .tab-pane .file-sidebar {width: 300px; overflow: scroll; position: absolute; top: 0; right: 0; bottom: 0; border-left: 1px solid #ddd; background-color: #f5f5f5; display: inline-block;}
.files-modal .modal-dialog .modal-content .modal-body .tab-content .tab-pane .file-wrapper .post-search {padding: 0 15px; position: absolute; top: 4px; right: 300px; text-align: right; left: 0;}
.files-modal .modal-dialog .modal-content .modal-body .tab-content .tab-pane .file-wrapper .post-search .form-inline .form-group {padding: 8px 0;}
.files-modal .modal-dialog .modal-content .modal-body .tab-content .tab-pane .file-wrapper .file-wrapper-thumbs {margin: 0 7px 15px 7px; position: absolute; top: 50px; bottom: 0px; left: 0; right: 300px; overflow: scroll}
.files-modal .modal-dialog .modal-content .modal-body .tab-content .tab-pane .file-wrapper .file-wrapper-thumbs .file-details .file-thumbnail .file .file-extension {font-size: 1.5em}

.file-info {display: none;}
.file-info hr {margin: 0;}
.file-info .file-basic-info {padding: 15px;}
.file-info .file-public-info {padding: 15px;}
.file-info .file-settings-info {padding: 5px 15px;}
.file-info .file-basic-info .media .media-heading {margin-bottom: 15px;}
.file-info .file-basic-info .media .media-body p {font-size: 12px;}
.file-info .file-basic-info .media .media-left a img.media-object {width: 120px; background: #ddd;}
.file-info .file-public-info .form .form-group .control-label {font-size: 12px}