/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #ddd;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: #333;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.panel-admin {
    background-color: #fff;
    border: 1px solid #f5f5f5;
}

.content .page-header h1,
.content .page-header .h1,
.content .page-header h2,
.content .page-header .h2,
.content .page-header h3,
.content .page-header .h3,
.content .page-header h4,
.content .page-header .h4,
.content .page-header h5,
.content .page-header .h5,
.content .page-header h6,
.content .page-header .h6 {margin: 0;}
.content .page-header small .btn-xs {margin-bottom: 7px;}
.content .page-header {border-bottom: 1px dashed #eee;}
hr {margin-top: 15px; margin-bottom: 15px;}

/*modal*/
.eff-modal {top: 20vh;}
.eff-modal .modal-header {border-bottom: none;}
.eff-modal .close {margin-right: 6px;}
.loading-indicator {text-align: center; margin: 5px 0;}

/*module*/
.medias .media hr{margin: 10px 0;}
.medias .media h5 span.label {margin-left: 5px;}
.medias .media .media-left {vertical-align: middle;}
.medias .media .media-left .media-object {width: 50px; overflow: hidden;}

/*form-control*/
.form-control {border-radius: 0; height: 40px; transition: none; box-shadow: none; -webkit-transition: none; -webkit-box-shadow: none;}
.form-control.input-sm {height: 30px;}

/*radio list*/
.radio-list label {display: block;}

/*panel*/
.panel {box-shadow:none; -webkit-box-shadow: none; border-radius: 0;}
.panel-post .panel-heading {border-bottom: none;}
.panel-post .panel-heading a {text-decoration: none; color: #333;}
.panel-post .panel-heading a span.glyphicon-menu-up {display: block; line-height: 18px;}
.panel-post .panel-heading a span.glyphicon-menu-down {display: none; line-height: 18px;}
.panel-post .panel-heading a.collapsed span.glyphicon-menu-up {display: none;}
.panel-post .panel-heading a.collapsed span.glyphicon-menu-down {display: block;}
.panel-post .panel-heading a.publish-status span{vertical-align: middle; line-height: 40px;}
.panel-post .panel-heading label.text-current-status {margin: 0; display: block;}
.panel-post .collapse.in, .panel-post .collapsing {border-top: 1px solid #ddd;}

/*font and text*/
.text-normal {font-weight: normal;}

/*post form*/
.panel-content {margin: 5px 10px 0;}
.panel-content .heading h4 {font-size: 26px; margin-top: 0;}
.post-form {}
.post-form .radio-save-status {margin-top: 0;}
.post-form .panel .panel-heading a.header-text {text-transform: uppercase;}
/*.post-form .slug {color: #333;}*/
.post-form .featured-image-select {text-align: center}
.post-form .featured-image-select a {display: block; margin-bottom: 15px; }
.post-form .featured-image-select a:hover, .featured-image-select a:active {text-decoration: none;}
.post-form .featured-image-select a .glyphicon-picture { cursor: pointer; font-size: 46px; color: #ccc}
.post-form .slug-buttons {margin-top: 10px;}
.post-form .slug-buttons .slug-editable p.raw-slug {max-width: 40%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; display: inline-block; margin: 0; vertical-align: middle;}
.post-form .slug-buttons .slug-editable p.raw-slug input{width: 100%;}
.post-form .slug-buttons .slug-editable .btn {margin-left: 2px;}
.post-form .schedule-date {width: 130px; display: inline-block;}
.post-form .schedule-time {width: 100px; display: inline-block;}
